/* importando o global */
@import url('./global.css');

/* body {
    usando a variável global no bg */
    /* background-color: var(--variable-example);
}*/

/* Hero */
.hero {
    margin: 70px;
    margin-top: 110px;
    scroll-margin-top: 110px;
}

/* Jogos */
.jogos {
    scroll-margin-top: 70px;
}
